* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

:root {
  --VeryLightGray: #fafafa;
  --VeryLightGrayishBlue: #e4e5f1;
  --LightGrayishBlue: #d2d3db;
  --DarkGrayishBlue: #9394a5;
  --VeryDarkGrayishBlue: #484b6a;

  --VeryDarkBlue: #161722;
  --VeryDarkDesaturatedBlue: #25273c;
  --LightGrayishBlue1: #cacde8;
  --LightGrayishBlue2: #e4e5f1;
  --DarkGrayishBlueDark: #777a92;
  --VeryDarkGrayishBlue: #4d5066;
  --VeryDarkGrayishBlue: #38394d;

  --DesktopWidth: 600px;
  --mobileTransform: -4rem;
}
body {
  background-color: var(--VeryLightGrayishBlue);
}

.header {
  background: url(./todo-app-main/images/bg-mobile-light.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.5rem 1.5rem;
}
.header.dark {
  background: url(./todo-app-main/images/bg-mobile-dark.jpg);
  background-size: cover;
}
.header .top {
  display: flex;
  justify-content: space-between;
  color: var(--VeryLightGrayishBlue);
  width: 100%;
  max-width: var(--DesktopWidth);
  align-self: center;
}
.mode,
.logo {
  display: block;
  cursor: pointer;
  transition: 2s;
}
.mode:hover{
 transform: rotate(360deg);
}
.sun {
  display: none;
}
.sun.dark {
  display: block;
}
.moon.dark {
  display: none;
}
#add-todo {
  width: 100%;
  max-width: var(--DesktopWidth);
  padding: 1rem 3rem;
  border-radius: 0.3rem;
  border: none;
  background-color: var(--VeryLightGray);
  display: block;
  margin: auto;
}
#add-todo.dark {
  background-color: var(--VeryDarkDesaturatedBlue);
  color: var(--DarkGrayishBlue);
}
.todo-body {
  padding: 2.5rem 1.5rem;
  height: 100vh;
}
.todo-body.dark {
  background-color: var(--VeryDarkBlue);
}
.todos {
  display: flex;
  flex-direction: column;
  transform: translateY(var(--mobileTransform));
  border-radius: 0.3rem 0.3rem 0 0;
  overflow: hidden;
  max-width: var(--DesktopWidth);
  margin: auto;
}
.todo {
  display: flex;
  padding: 1rem;
  position: relative;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5px;
  background-color: var(--VeryLightGray);
}
.todo.dark {
  background-color: var(--VeryDarkDesaturatedBlue);
  color: var(--DarkGrayishBlue);
}
.todo.dark .todo-text {
  color: var(--DarkGrayishBlue);
}
.todo.dark:hover {
  background-color: var(--VeryDarkGrayishBlue);
}
.todo .todo-state {
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  border: 1px solid var(--LightGrayishBlue);
  cursor: pointer;
  /* transition: 1s; */
}
.todo-state:hover {
  border: 1px solid var(--VeryDarkDesaturatedBlue);
}
.todo-state.check-state {
  border: none;
  background-color: #bf58f38a;
  background-image: url(./todo-app-main/images/icon-check.svg), linear-gradient(130deg, #57ddff,  #bf58f3) ;
  background-repeat: no-repeat;
  background-position: center;
}
 .todo-state.check-state:hover{
  background-image: url(./todo-app-main/images/icon-check.svg), linear-gradient(130deg, #bf58f3,#57ddff) ;
}
.todo .todo-text {
  font-size: 0.8em;
  color: var(--VeryDarkGrayishBlue);
  width: 80%;
  overflow-wrap: break-word;
  line-height: 1.6;
}
.todo .todo-text.check-state {
  text-decoration: line-through;
  color: var(--DarkGrayishBlue);
}
.todo .delete-todo {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}
.delete-todo:hover {
  width: 1.4rem;
}
.todo-status {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem;
  max-width: var(--DesktopWidth);
  margin: auto;
  background-color: var(--VeryLightGray);
  transform: translateY(-4rem);
  font-size: 0.8em;
  color: var(--DarkGrayishBlue);
  border-radius: 0 0 0.3rem 0.3rem;
}
.todo-status.dark {
  background-color: var(--VeryDarkDesaturatedBlue);
}
.todo-status .clear-completed {
  cursor: pointer;
}
.clear-completed:hover {
  color:#0662b8 ;
}
.filter {
  display: flex;
  gap: 1rem;
  justify-content: center;
  background-color: var(--VeryLightGray);
  padding: 1rem;
  max-width: var(--DesktopWidth);
  margin: auto;
  transform: translateY(-3rem);
  border-radius: 0.3rem;
  font-weight: 1000;
}
.filter-active {
  color: #0662b8;
}
.all,
.active,
.completed {
  cursor: pointer;
}
.all:hover,
.active:hover,
.completed:hover {
  color: #cfcdcd;
}
.filter.dark {
  background-color: var(--VeryDarkDesaturatedBlue);
  color: var(--DarkGrayishBlue);
}

@media screen and (min-width: 768px) {
  .header {
    background: url(./todo-app-main/images/bg-desktop-light.jpg);
    padding: 4rem 1.5rem;
  }
  .header.dark {
    background: url(./todo-app-main/images/bg-desktop-dark.jpg);
  }
  .logo {
    font-size: 2.2em;
  }
  #add-todo {
    font-size: 1em;
  }
  .todos {
    transform: translateY(-5rem);
  }
  .todo .todo-text {
    font-size: 1em;
  }
  .todo-status {
    transform: translateY(-5rem);
    font-size: 1em;
  }
  .filter {
    width: 300px;
    transform: translateY(-8.3rem);
  }
}
